@import "c/cssAnimations";

.show {
    animation-name: simple-show;
    animation-fill-mode: forwards;
}

.hide {
    animation-name: simple-hide;
    animation-fill-mode: forwards;
}

.show-scale {
    opacity: 1;
    visibility: visible;
    animation-name: show-scale;
}

.hide-scale {
    opacity: 0;
    visibility: hidden;
    top: -999999px;
    animation-name: hide-scale;
}

.show-from-left {
    opacity: 1;
    visibility: visible;
    animation-name: show-from-left;
}

.hide-to-right {
    opacity: 0;
    visibility: hidden;
    top: -999999px;
    animation-name: hide-from-left
}