.animation-slow {
    transition: 1.5s;
    animation-duration: 1.5s;
}

.animation-medium {
    transition: 1s;
    animation-duration: 1s;
}

.animation-fast {
    transition: 0.55s;
    animation-duration: 0.55s;
}

@keyframes simple-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes simple-hide {
    0% {
        opacity: 1;
        height: 100%;
    }
    99% {
        opacity: 0.01;
        height: 1%;
    }
    100% {
        opacity: 0;
        height: 0;
        position: absolute;
        top: -100000px;
    }
}

@keyframes show-scale {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes hide-scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

@keyframes show-from-left {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translate(-30%, 0px);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: translate(0px, 0px);
    }
}

@keyframes hide-from-left {
    from {
        opacity: 1;
        visibility: visible;
        transform: translate(0px, 0px);
    }
    to {
        opacity: 0;
        visibility: hidden;
        transform: translate(30%, 0px);
    }
}