@import "c/cssClasses";

.map-position {
    overflow: hidden;
    position: fixed;
    z-index: -100;
    width: 140%;
    height: 115%;
    top: -100px;
    left: -100px;
}

.header-position {
    z-index: 100;
    width: 100%;
    top: 0;
    height: 70px;
    position: sticky;
}

.full-info-position {
    position: sticky;
    top: 70px;
}

.grid-settings {
    display: grid;
    grid-template-columns: 1fr 2fr
}